@charset "UTF-8";

:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor02);
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    position: absolute;
    width: 250px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

div#imagem {
    background: var(--cor02) url(../imagens/pattern.jpg) no-repeat left center;
    background-size: cover;
    height: 200px;
    display: block;
}

div#formulario {
    padding: 10px;
    display: block;
}