@charset "UTF-8";

:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor02);
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    position: absolute;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    transition: width .5s, heigth .5s;
    transition-timing-function: ease;
}

div#imagem {
    background: var(--cor02) url(../imagens/pattern.jpg) no-repeat left center;
    background-size: cover;
    height: 200px;
    display: block;
}

div#formulario {
    padding: 10px;
    display: block;
}

h1 {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

p#texto {
    font-size: 0.9em;
}

.campo {
    background-color: var(--cor02);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0px;
}

.campo label {
    display: none;
}

.campo span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    display: inline-block;
}

.campo > input {
    background-color: var(--cor01);
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    width: calc(100% - 44px);
    transform: translate(44px, -42.25px);
}

.campo > input::placeholder{
    color: white;
}

.campo > input:focus-within {
    background-color: #ffffff;
    color: black;
    outline: none;
    border: 1px solid var(--cor01);
}

.botao {
    display: block;
    font-size: 1em;
    width: 100%;
    background-color: var(--cor01);
    color: white;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#esqueci {
    background-color: white;
    border: 1px solid var(--cor01);
    color: var(--cor01);
}

.botao > span {
    font-size: 1em;
}

.botao:hover {
    background-color:#3b807d;
    color: white;
    text-decoration: underline;
    border: 1px solid var(--cor01);
}

#esqueci:hover {
    background-color: var(--cor01);
    color: white;
}



